<% var title = 'Remote IDE' %>
<% include head %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to this new IDE</h1>
            <br><br>
        </div>
    </div>
    <div class="row" style="margin-left: 3%; margin-right: 3%;">
        <div class="col-lg-2">
            <div class="panel-wrapper panel-editor"><div></div></div>
        </div>
        <div class="col-lg-10">
            <div class="panel-wrapper panel-editor">
                <div id="e1" class="editor">{&#13;&#09;&#13;}</div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/jquery.js"></script>
<script src="ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/src-min/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

<script>
$(document).ready(function(){

    var editor = ace.edit("e1");
    editor.setTheme("ace/theme/twilight");

    loadScript("ace/src-min/mode-json.js", function(){
        console.log("setting mode");
            var Mode = require("ace/mode/json").Mode;
            editor.getSession().setMode(new Mode());

    });
});

function loadScript(sScriptSrc, oCallback) {
    var oHead = document.getElementByTagName('head')[0];
    var oScript = document.createElement('script');
    oScript.type = 'text/javascript';
    oScript.src = sScriptSrc;
    oScript.onload = oCallback;
    oScript.onreadystatechange = function() {
        if (this.readyState == 'complete') {
            oCallback();
        }
    }
    oHead.appendChild(oScript);
}
</script>

<% include foot %>
