<% var title = 'Remote IDE' %>
<% include head %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to this new IDE</h1>
            <br><br>
        </div>
    </div>
    <div class="row" style="margin-left: 10%; margin-right: 10%;">
        <div class="col-lg-2">
            <div class="panel-wrapper"><div id="p1" style="height:100%;"></div></div>
        </div>
        <div class="col-lg-5">
            <div class="panel-wrapper"><div id="p1" style="height:100%;"></div></div>
        </div>
        <div class="col-lg-5">
            <div class="panel-wrapper"><div id="p1" style="height:100%;"></div></div>
        </div>
    </div>
</div>
<script src="jquery/jquery.js"></script>
<script src="ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/src-min/mode-json.js" type="text/javascript" charset="utf-8"></script>
<script>
$(document).ready(function(){
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");

loadJS("ace/src-min/mode-ada.js", function(o, args){
    console.log(o);
    console.log(args);
});
});
var loadJS = function(resourceJS, cb){
    var scr = document.createElement('script');
    scr.setAttribute('type', 'text/javascript');
    scr.setAttribute('src', resourceJS);

    if(scr.readyState){
        scr.onreadystatechange = function(){
            if(scr.readyState === 'complete' || scr.readyState === 'loaded'){
                scr.onreadystatechange = null;
                if(cb === 'function'){
                    args = [].slice.call(arguments, 1);
                    cb.apply(this, args);
                }
            }
        };
    }
    else {
        scr.onload = function(){
            if(cb === 'function'){
                args = [].slice.call(arguments, 1);
                cb.apply(this, args);
            }
        };
    }

    var head = document.getElementsByTagName('head')[0];
    head.insertBefore(scr, head.firstChild);  

}
</script>

<% include foot %>
