<% var title = 'Remote IDE' %>
<% include head %>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to this new IDE</h1>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="graph-wrapper"><div id="p1" style="height:100%;"></div></div>
                </div>
                <div class="col-lg-6">
                    <div class="graph-wrapper"><div id="p2" style="height:100%;"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="graph-wrapper"><div id="p3" style="height:100%;"></div></div>
                </div>
                <div class="col-lg-6">
                    <div class="graph-wrapper"><div id="p4" style="height:100%;"></div></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="graph-wrapper"><div id="p5" style="height:100%;"></div></div>
                </div>
            </div>
        </div>

<% include foot %>
