<% var title = 'Remote IDE' %>
<% include head %>
<div>
    <div style="padding-left: 400px; position: relative;">
        <div style="position: static; margin: 0; padding: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>filename.json</h2>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-default btn-md button-text-align" id="e1-close">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-md button-text-align" id="e1-save">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                        </button>
                        <button type="button" class="btn btn-info  btn-md button-text-align" id="e1-mode">Language: JSON</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-wrapper panel-editor">
                            <div id="e1" class="editor"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left:-400px; width: 400px; height: 100%; position: fixed; top: 75px; bottom: 0; overflow: auto;">
            <div style="margin-right:15px; margin-left:15px;">
                <div class="row">
                    <h2>filename.json</h2>
                </div>
                <div class="row">
                    <div class="panel-wrapper panel-editor">
                        <div id="e1" class="editor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/jquery.js"></script>
<script src="ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/src-min/theme-twilight.js" type="text/javascript" charset="utf-8"></script>

<script>

loadScript = function(sScriptSrc, oCallback) {
    var oHead = document.getElementsByTagName('head')[0];
    var oScript = document.createElement('script');
    oScript.type = 'text/javascript';
    oScript.src = sScriptSrc;
    oScript.onload = oCallback;
    oScript.onreadystatechange = function() {
        if (this.readyState == 'complete') {
            oCallback();
        }
    }
    oHead.appendChild(oScript);
};

setMode = function(editor, mode){
    loadScript("ace/src-min/mode-" + mode + ".js", function(){
        var Mode = require("ace/mode/" + mode).Mode;
        editor.getSession().setMode(new Mode());

    });
};

$(document).ready(function(){
    var e1 = ace.edit("e1");
    e1.setTheme("ace/theme/twilight");
    var mode = "json";
    setMode(e1, mode);
});
</script>

<% include foot %>
