<% var title = 'Remote IDE' %>
<% include head %>
<div ng-controller="LayoutControl" ng-init="init()">
    <layout></layout>
</div>
<script src="controllers/layout/languages.js" type="text/javascript" charset="utf-8"></script>
<script src="jquery/jquery.js"></script>
<script src="underscore/underscore.min.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ace/src-min/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="controllers/layout/module.js" type="text/javascript" charset="utf-8"></script>
<script src="shared.js" type="text/javascript" charset="utf-8"></script>
<% include foot %>
