<% var title = 'Remote IDE' %>
<% include head %>

<div class="container">
    <form class="form-signin" role="form" method="post" action="/login">
        <input type="username" class="form-control" placeholder="Username" required autofocus="" name="username" id="username">
        <input type="password" class="form-control" placeholder="Password" required name="password" id="password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<% include foot %>
