<div class="main">
    <div class="row-shim">
        <div class="row">
            <div class="col-sm-7">
                <h2>filename.json</h2>
            </div>
            <div class="col-sm-5">
                <button type="button" class="btn btn-default btn-md button-text-align" id="e1-close">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default btn-md button-text-align" id="e1-save">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button type="button" class="btn btn-info  btn-md button-text-align" id="e1-mode">Language: JSON</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-editor shadow">
                    <div id="e1" class="editor"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="row-shim">
            <div class="file-reader shadow" style="">
            </div>
        </div>
    </div>
</div>
<script>

loadScript = function(sScriptSrc, oCallback) {
    var oHead = document.getElementsByTagName('head')[0];
    var oScript = document.createElement('script');
    oScript.type = 'text/javascript';
    oScript.src = sScriptSrc;
    oScript.onload = oCallback;
    oScript.onreadystatechange = function() {
        if (this.readyState == 'complete') {
            oCallback();
        }
    }
    oHead.appendChild(oScript);
};

setMode = function(editor, mode){
    loadScript("ace/src-min/mode-" + mode + ".js", function(){
        var Mode = require("ace/mode/" + mode).Mode;
        editor.getSession().setMode(new Mode());

    });
};

$(document).ready(function(){
    var e1 = ace.edit("e1");
    e1.setTheme("ace/theme/twilight");
    var mode = "json";
    setMode(e1, mode);
});
</script>