<!--<div class="main">
    <div class="row-shim">
        <div class="row">
            <div class="col-sm-7">
                <h2>filename.json</h2>
            </div>
            <div class="col-sm-5">
                <button type="button" class="btn btn-default btn-md button-text-align" id="e1-close">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default btn-md button-text-align" id="e1-save">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button type="button" class="btn btn-info  btn-md button-text-align" id="e1-mode">Language: JSON</button>
            </div>
        </div>
        <div ng-repeat="panel in data.editors">
            <div class="panel-editor shadow" style="float:right; width:{{data.editor_width}}%; margin:{{data.editor_margin}}px;">
                <div id="{{panel}}" class="editor"></div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="row-shim">
            <div class="file-reader shadow" style="">
            </div>
        </div>
    </div>
</div>-->

<div class="main">
    <div class="left">
        <div class="file-reader shadow" style=""></div>
    </div>
    <div class="right">
        <div ng-repeat="panel in data.editors" class="shadow" repeat-done="set_ace(panel)" style="float:right; width:{{data.editor_width}}%; height: 100%; padding-right: 5px; padding-left:5px">
            <div class="shadow" style="width: 100%">
                <div class="editor-top">
                    <button type="button" class="btn btn-default btn-sm button-text-align" id="e1-close">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm button-text-align" id="e1-save">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    <button type="button" class="btn btn-info  btn-sm button-text-align" id="e1-mode">Language: JSON</button>
                </div>
                <div class="editor-bottom">
                    <editor data-id="{{panel}}"></editor>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<button type="button" class="btn btn-default btn-sm button-text-align" id="e1-close">
    <span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" class="btn btn-default btn-sm button-text-align" id="e1-save">
    <span class="glyphicon glyphicon-floppy-save"></span>
</button>
<button type="button" class="btn btn-info  btn-sm button-text-align" id="e1-mode">Language: JSON</button>-->