
<div class="main">
    <div class="left">
        <div class="file-reader shadow">
            <button type="button" class="btn btn-default btn-sm button-text-align" id="e1-save">
                <span class="glyphicon glyphicon-plus" ng-click="add_panel()"></span>
            </button>
        </div>
    </div>
    <div class="right">
        <div ng-repeat="panel in data.editors" repeat-done="set_ace(panel)"  class="panel-box" style="width:{{data.editor_width}}%;">
            <div class="shadow panel-editor">
                <div class="editor-top">
                    <button type="button" ng-click="delete_panel(panel)" class="btn btn-default btn-sm button-text-align" id="e1-close">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm button-text-align" id="e1-save">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                    </button>
                    <button type="button" ng-click="show_languages(panel)" class="btn btn-info  btn-sm button-text-align" id="e1-mode">Language: JSON</button>
                </div>
                <div class="editor-bottom">
                    <editor data-id="{{panel}}"></editor>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/ng-template" id="language.html">
        <div class="modal-header">
            <h3>I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
