body, html {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.modal {
    display: block;
}

.main {
    margin-top: 20px;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 10px;
}

.overflow-modal {
    background-color: red;
}

.cursor {
    cursor: pointer;
}

.right{
    left: 330px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 0 5px 0 5px;
}

.left {
    width: 330px; 
    position: absolute;
    padding: 0 5px 0 5px;
    top: 0;
    bottom: 0;
}

.editor-top{
    width: 100%;
    height: 40px;
}

.editor-bottom{
    width: 100%;
    height: 100%;
    margin-top: -40px;
    padding-top: 40px;
}

.semi-fluid {
    margin-left: 3%; 
    margin-right: 3%;
}

.editor {
    width: 100%;
    height: 100%;
}

.shadow {
    padding: 5px;
    border-style:solid;
    border-width:1px;
    border-color: #DDDDDD;
    box-shadow: 10px 10px 15px #CCCCCC;
    -webkit-box-shadow: 10px 10px 15px rgba(204,204,204, 0.75); 
}

.panel-box {
    float:right; 
    height: 100%; 
    padding-left:5px
}

.file-reader {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.panel-editor {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.button-text-align {
    margin-right: 5px;
    margin-top: 5px;
    float: right;
}

.form-signin {
    max-width: 400px;
    padding: 60px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}